<%- include('../includes/head.ejs') %>
</head>
<body>
    <%- include('../includes/navigation.ejs') %>
    <main>
      <form action='/signup' method="POST">
        <% if(signupmsg) { %>
          <br>
          <div><%= signupmsg %></div>
        <% } %>
        <br>
        <div>Username<pre></pre><input type = "text" name = "username" value="<%= username %>"><pre>  <%= usernameError %></pre></div>
        <br>
        <div>Email<pre></pre><input type = "email" name = "email" value = "<%= email %>"><pre>  <%= emailError %></pre></div>
        <br>
        <div>Password<pre></pre><input type="password" name="key" value="<%= key %>"><pre>  <%= keyError %></pre></div>
        <br>
        <div>Confirm Password<pre></pre><input type = "text" name = "key1"><pre>  <%= key1Error %></pre></div>
        <br>
        <input type = "hidden" name = "_csrf" value = "<%= csrfToken %>">
        <button type = "submit" >Signup</button>
      </form>
    </main>
<%- include('../includes/end.ejs') %>